extends layout

block content
    include includes/home-header

    //- content
    .am-g.am-g-fixed.blog-fixed.blog-content
        .am-u-sm-12
            h1.blog-text-center -- Archives --
            .timeline-year
                h1 2018
                hr
                ul
                    h3 10月
                    hr
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 2018/10/18
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 君埋泉下泥销骨，我寄人间雪满头
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 风又起
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only amazeui
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 2018/10/10
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 不为无益之事，何以遣有涯之生。
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 灯火阑珊
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only LWXYFER
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 2018/10/5
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 一想到你，我这张丑脸上就泛起微笑
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 凌晨四点钟
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 二师兄
                br
                ul
                    br
                    h3 9月
                    hr
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                br
                ul
                    br
                    h3 8月
                    hr
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
            .timeline-year
                h1 2017
                hr
                ul
                    h3 9月
                    hr
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 2018/10/18
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 君埋泉下泥销骨，我寄人间雪满头
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 风又起
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only amazeui
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 2018/10/10
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 不为无益之事，何以遣有涯之生。
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 灯火阑珊
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only LWXYFER
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 2018/10/5
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 一想到你，我这张丑脸上就泛起微笑
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 凌晨四点钟
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 二师兄
                br
                ul
                    br
                    h3 8月
                    hr
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                br
                ul
                    br
                    h3 7月
                    hr
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
                    li
                        span.am-u-sm-4.am-u-md-2.timeline-span 时间
                        span.am-u-sm-8.am-u-md-6
                            a(href="#") 我的标题
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 分类目录
                        span.am-u-sm-4.am-u-md-2.am-hide-sm-only 作者
            hr
