extends ../includes/head
block link
    link(rel="stylesheet", href="/md/css/editormd.css")
    body
        #preview
            textarea(id= "preview-md", style = "display:none;")= context
        script(src='/javascripts/jquery.min.js')
        script(src='/amaze/dist/js/amazeui.js')
        script(src='/amaze/dist/js/amazeui.ie8polyfill.js')

        script(src='/md/lib/marked.min.js')
        script(src='/md/lib/prettify.min.js')
        script(src='/md/lib/raphael.min.js')
        script(src='/md/lib/underscore.min.js')
        script(src='/md/lib/sequence-diagram.min.js')
        script(src='/md/lib/flowchart.min.js')
        script(src='/md/lib/jquery.flowchart.min.js')
        script(src='/md/editormd.js')
        script(type="text/javascript").
            $(function () {
               let  testEditormdView = editormd.markdownToHTML("preview", {
                    markdown: $('#preview-md').text(),
                    htmlDecode: "style,script,iframe",  // you can filter tags decode
                    tocm: true,    // Using [TOCM]
                    emoji: true,
                    taskList: true,
                    tex: true,  // 默认不解析
                    flowChart: true,  // 默认不解析
                    sequenceDiagram: true // 默认不解析
               });
            });
